{
  "openapi": "3.0.0",
  "info": {
    "title": "Clarifai Public API",
    "description": "\n\nWelcome to the Clarifai API documentation. Clarifai is a leading provider of artificial intelligence and machine learning solutions, specialising in advanced computer vision, natural language, and generative AI technologies. Our powerful API allows developers to integrate cutting-edge image, video recognition, and text-based analytics capabilities into their applications, unlocking a world of visual and sequence understanding possibilities.\n\nThe Clarifai API is a connection point enabling communication between clients and servers. It facilitates interaction between software, making it valuable for integrating Clarifai's AI technology into your products and tools through code. Clarifai API is avaiable in Python,Node.js,PHP and Java.\n\nYou can access Clarifai's API over HTTPS via `https://api.clarifai.com`.\n\n[API Documentation](https://docs.clarifai.com/api-guide/api-overview)\n\n[Clarifai Community](https://clarifai.com/explore)\n\n[API Status](https://status.clarifai.com/)\n\n[Discord](https://discord.gg/XAPE3Vtg)\n\n> _ℹ️ Reload the page in case of missing sections_",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.clarifai.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "apikeyAuth": {
        "type": "http",
        "scheme": "apikey"
      }
    }
  },
  "security": [
    {
      "apikeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Annotations",
      "description": "Welcome to the Clarifai Annotations API Postman Collection! 🌟\n\n**Description:**  \nThe Clarifai Annotations API Collection empowers you to seamlessly integrate advanced image and video annotation capabilities into your applications. With this collection, you can annotate multimedia content with descriptive information, enabling powerful image recognition and classification. Whether you're building an image moderation system, enhancing search functionalities, or training machine learning models, these endpoints provide you with the tools to annotate and extract valuable insights from your visual data.\n\n## 🔥 Getting started:\n\n1. **Create Annotations:** Annotate images and videos with concepts, bounding boxes, and regions of interest.\n    \n2. **Retrieve Annotations:** Fetch detailed information about annotations associated with specific images or videos.\n    \n3. **Update Annotations:** Modify existing annotations to improve accuracy or adapt to changing requirements.\n    \n4. **Delete Annotations:** Remove annotations when they are no longer needed or to refresh training data.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage datasets, train models, and generate predictions."
    },
    {
      "name": "Annotations > Find Duplicate Annotations Jobs",
      "description": "Within this folder, you'll discover a suite of functionalities dedicated to identifying and managing duplicate annotations within your image data."
    },
    {
      "name": "Annotations > Annotation Filters",
      "description": "With Annotation Filters, you can easily filter and display relevant information based on tags or annotations."
    },
    {
      "name": "Applications",
      "description": "Welcome to the Clarifai Applications API Collection! 🌟\n\nThe Clarifai Applications API Collection is designed to empower developers and businesses to integrate advanced AI capabilities seamlessly into their applications. With a focus on image and video recognition, this collection provides a set of powerful endpoints for creating, managing, and extracting insights from custom applications.\n\n## 🔥 Getting started:\n\n1. **Create Applications:** Set up custom applications to organize and manage your specific use cases.\n2. **Manage Application**: Modify and edit your apps with ease.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage apps, train models, and generate predictions."
    },
    {
      "name": "Collectors",
      "description": "Welcome to the Clarifai Collector API Collection! 🌟\n\nThis collection empowers you to seamlessly integrate Clarifai's advanced machine-learning capabilities into your applications. Effectively manage data collection efforts for training and improving machine learning models with the Collector Collection. Whether you're building a smart application, enhancing user experiences, or conducting research, this collection provides easy-to-use endpoints for efficient data collection.\n\n## 🔥 Getting Started:\n\n- **List Collectors:** Retrieve a list of all collectors associated with your Clarifai app.\n    \n- **Create Collector:** Easily create a new collector for your specific data collection needs.\n    \n- **Get Collector Details:** Retrieve detailed information about a specific collector, including its ID, name, description, status, and associated tasks.\n    \n- **Update Collector:** Modify and edit existing collectors as needed.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints in this collection, you need to authenticate by including your PAT key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Additionally, make sure to add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ How to Use:\n\n1. **Import the Collection:** Import this collection into your Postman workspace to kickstart your Clarifai API integration for data collection.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests and ensure secure communication with the API.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints provided in the collection to efficiently manage data collection efforts, enhancing the capabilities of your machine learning models."
    },
    {
      "name": "Concepts",
      "description": "Welcome to the Clarifai Concepts API Collection! 🌟\n\nWith this collection, you can seamlessly integrate Clarifai's advanced machine-learning capabilities into your applications, allowing you to work with concepts effortlessly. Whether you're building a smart application, enhancing user experiences, or conducting research, this collection provides you with easy-to-use endpoints for managing concepts for training AI models.\n\n## 🔥 Getting started:\n\n1. **Create Concept:** Easy creation of concepts using given endpoints.\n    \n2. **Manage Concept**: Modify and edit your concept with ease.\n    \n3. **Languages**: Add concepts of different languages to your application.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage datasets, train models, and generate predictions."
    },
    {
      "name": "Concepts > Concept Essentials",
      "description": "This carefully curated collection is designed to streamline your experience with managing and manipulating concepts, ensuring a seamless workflow for your API testing and development needs."
    },
    {
      "name": "Concepts > Concept Vocabs",
      "description": "This carefully curated collection is designed to streamline your experience with managing and manipulating vocabs in concepts, ensuring a seamless workflow for your API testing and development needs."
    },
    {
      "name": "Concepts > Concept Languages",
      "description": "This carefully curated collection is designed to streamline your experience with managing and manipulating concepts & languages, ensuring a seamless workflow for your API testing and development needs."
    },
    {
      "name": "Concepts > Concept Graph",
      "description": "This carefully curated collection is designed to streamline your experience managing and manipulating concept graphs, ensuring a seamless workflow for your API testing and development needs."
    },
    {
      "name": "Datasets",
      "description": "Welcome to the Clarifai Dataset API Collection! 🌟\n\nWith this collection, you can seamlessly integrate Clarifai's advanced machine-learning capabilities into your applications, allowing you to work with datasets effortlessly. Whether you're building a smart application, enhancing user experiences, or conducting research, this collection provides you with easy-to-use endpoints for managing datasets for training AI models.\n\n## 🔥 Getting started:\n\n1. **Create Datasets:** Upload and organize your data for efficient processing.\n    \n2. **Manage Datasets**: Modify and edit your dataset with ease.\n    \n3. **Versioning**: Versioning helps track changes made to datasets over time, providing a clear history of modifications and ensuring reproducibility and traceability.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage datasets, train models, and generate predictions."
    },
    {
      "name": "Datasets > Dataset Essentials",
      "description": "This carefully curated collection is designed to streamline your experience with managing and manipulating datasets, ensuring a seamless workflow for your API testing and development needs."
    },
    {
      "name": "Datasets > Dataset Inputs",
      "description": "This carefully organized folder is designed to streamline the process of collecting diverse and comprehensive input data for your datasets."
    },
    {
      "name": "Datasets > Dataset Versions",
      "description": "This organized and comprehensive folder is designed to streamline your experience in managing dataset versions for your applications."
    },
    {
      "name": "Inputs",
      "description": "Welcome to the Clarifai Inputs API Postman Collection! 🌟\n\nThe Clarifai Inputs API Collection is designed to streamline your interactions with multimedia inputs, such as images and videos. This collection provides easy-to-use endpoints for managing individual inputs, facilitating seamless integration into your workflows. Whether you're working on image classification, object detection, or custom model training, this collection is your gateway to efficient input management.\n\n## 🔥 Getting started:\n\n1. **Add Individual Inputs:** Upload and add individual images or videos to your Clarifai datasets for analysis.\n    \n2. **Get Input Details:** Retrieve detailed information about a specific input using its unique identifier.\n    \n3. **Delete Input:** Remove an input from your datasets, ensuring data accuracy and relevance.\n    \n4. **Search Inputs:** Perform searches based on various criteria to locate specific inputs efficiently.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage datasets, train models, and generate predictions."
    },
    {
      "name": "Models",
      "description": "Welcome to the Clarifai Models API Postman Collection! 🌟\n\nThe Clarifai Models API Collection is your gateway to unleashing the power of cutting-edge artificial intelligence for image and video analysis. This collection empowers you to seamlessly integrate Clarifai's pre-trained models into your applications, enabling tasks such as object recognition, scene detection, and content moderation.\n\n## 🔥 Getting started:\n\n1. **Pre-trained Models:** Access a variety of pre-trained models for tasks like image and video recognition out of the box.\n    \n2. **Custom Models:** Train custom models tailored to your specific use cases and datasets.\n    \n3. **Model Training:** Train and fine-tune models to recognize specific patterns and objects based on your unique requirements.\n    \n4. **Model Predictions:** Generate predictions for images and videos using Clarifai's advanced machine-learning models.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage apps, train models, and generate predictions."
    },
    {
      "name": "Models > Custom Config",
      "description": "The Custom Config folder houses a set of API endpoints that allow you to manage custom configurations within your models. Whether you need to fine-tune settings, adjust parameters, or personalize your application's behavior, these endpoints provide the flexibility to tailor the configuration according to your specific requirements."
    },
    {
      "name": "Models > Create Transfer Learned Model"
    },
    {
      "name": "Models > Create Visual Classifier Model Copy"
    },
    {
      "name": "Models > Create Text to Text LLM Model"
    },
    {
      "name": "Models > Create Keyword Filter Model"
    },
    {
      "name": "Models > Create Image Crop Model"
    },
    {
      "name": "Search",
      "description": "Welcome to the Clarifai Search API Collection! 🌟\n\nThe Clarifai Search API Collection is designed to empower developers and businesses to integrate advanced AI capabilities seamlessly into their applications. With a focus on image and video recognition, this collection provides a set of powerful endpoints for searching various attributes.\n\n## 🔥 Getting started:\n\n1. **Ranking:** Display search results based on a ranked order.\n    \n2. **Filter**: Display search results that fulfill a condition.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage apps, train models, and generate predictions."
    },
    {
      "name": "Search > Basic Search Walkthrough",
      "description": "This folder contains a demo walkthrough of annotation search."
    },
    {
      "name": "Search > Rank Annotations",
      "description": "This folder contains curated list of requests used to perform ranked searches."
    },
    {
      "name": "Search > Filter Inputs"
    },
    {
      "name": "Search > Filter Annotations",
      "description": "This folder contains requests that can perform filter search operations."
    },
    {
      "name": "Search > Metrics"
    },
    {
      "name": "Workflows",
      "description": "Welcome to the Clarifai Workflows API Postman Collection! 🌟\n\nThe Clarifai Workflows API Collection empowers you to streamline your image and video processing workflows effortlessly. Whether you are developing intelligent applications, automating content moderation, or conducting advanced image recognition tasks, this collection provides a set of powerful endpoints to create, manage, and execute workflows.\n\n## 🔥 Getting started:\n\n1. **Create Workflows:** Design and define custom workflows tailored to your specific use cases and business requirements.\n    \n2. **Manage Workflows**: Monitor and manage your workflows by reviewing workflow status.\n    \n3. **Versioning**: Versioning helps track changes made to workflows over time, providing a clear history of modifications and ensuring reproducibility and traceability.\n    \n4. **Workflow Prediction:** Generate predictions for data using workflows.\n    \n\n## 🚀 Pre-requisites:\n\nTo access Clarifai API endpoints, you need to authenticate by including your _**PAT**_ key in the request headers. Obtain your API key by signing up on Clarifai's platform and manage your API usage securely. Also, add User ID and App ID as environment variables.\n\nThe `{{base_url}}` is set as `https://api.clarifai.com`\n\n## 🕹️ **How to Use:**\n\n1. **Import the Collection:** Import this collection into your Postman workspace to begin your Clarifai API integration journey.\n    \n2. **Authentication:** Add your Clarifai API key to the request headers to authenticate your requests.\n    \n3. **Explore Endpoints:** Familiarize yourself with the various endpoints to manage datasets, train models, and generate predictions."
    },
    {
      "name": "Workflows > Workflow Essentials",
      "description": "This curated set of API collections is designed to streamline your workflow, enhance collaboration, and boost productivity."
    },
    {
      "name": "Workflows > Workflow Metrics",
      "description": "The Workflow Metrics Collection serves as a comprehensive toolkit for efficiently monitoring and optimizing the performance of your workflows."
    },
    {
      "name": "Workflows > Workflow Versions",
      "description": "This curated set of API requests is designed to streamline and enhance your version control processes within your workflows."
    },
    {
      "name": "Walkthroughs",
      "description": "This collection provides a comprehensive set of step-by-step walkthroughs designed to guide you through various functionalities and features of the Clarifai Platform using a practical, hands-on approach."
    },
    {
      "name": "Walkthroughs > RAG",
      "description": "In the realm of text generation, Retrieval Augmented Generation (RAG) steps up the game for Large Language Models (LLMs) by fusing information retrieval capabilities with text generation skills, tackling key drawbacks of LLMs. When presented with a query, RAG fetches relevant information from an external knowledge base, which increases precision and contextual appropriateness through the integration of this retrieved data into the input. The Clarifai Python SDK allows you to create RAG-based applications with ease by reducing the number of steps in the process.\n\nClick [here](https://docs.clarifai.com/python-sdk/rag/) to learn more about RAG."
    }
  ],
  "paths": {
    "/v2/users/{user_id}/apps/{app_id}/annotations/find_duplicates/jobs": {
      "get": {
        "tags": [
          "Annotations > Find Duplicate Annotations Jobs"
        ],
        "summary": "List Find Duplicate Annotations Jobs",
        "description": "This endpoint provides a way to retrieve a list of jobs specifically designed to identify duplicate annotations within a given dataset.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1000"
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"35a7840daf5f5775348120339e4feebd\"\n    },\n    \"find_duplicate_annotations_jobs\": []\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotations/find_duplicates/jobs?page=1&per_page=1000' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      },
      "post": {
        "tags": [
          "Annotations > Find Duplicate Annotations Jobs"
        ],
        "summary": "Post Find Duplicate Annotations Job",
        "description": "This API endpoint allows you to initiate a job to find duplicate annotations within your dataset.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `find_duplicate_annotations_jobs` | **string** | **Stores the job** |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "find_duplicate_annotations_jobs": [
                    {
                      "pca_projection_comparator": {
                        "distance_threshold": 0.000001
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"bb8f93c73198da32bb63f72c687c9bf5\"\n    },\n    \"find_duplicate_annotations_jobs\": [\n        {\n            \"id\": \"f30849f4eb7b4c21b934ba21f5119ba7\",\n            \"pca_projection_comparator\": {\n                \"distance_threshold\": 0.000001\n            },\n            \"status\": {\n                \"code\": 64000,\n                \"description\": \"Job is queued to be ran.\"\n            }\n        }\n    ]\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotations/find_duplicates/jobs' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"find_duplicate_annotations_jobs\": [\n    {\n      \"pca_projection_comparator\": {\n        \"distance_threshold\": 0.000001\n      }\n    }\n  ]\n}'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Annotations > Find Duplicate Annotations Jobs"
        ],
        "summary": "Delete Find Duplicate Annotations Jobs",
        "description": "This endpoint allows you to delete a specific Find Duplicate Annotations job based on the provided job ID.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `ids` | **string** | **Stores the job id's** |",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"528bddffe0bd3ab60aee6b3511d065bb\"\n    }\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff --request DELETE 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotations/find_duplicates/jobs' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v2/users/{user_id}/apps/{app_id}/annotations/find_duplicates/jobs/{find_duplicate_annotations_job_id}": {
      "get": {
        "tags": [
          "Annotations > Find Duplicate Annotations Jobs"
        ],
        "summary": "Get Find Duplicate Annotations Job",
        "description": "This endpoint provides a way to retrieve a list of jobs specifically designed to identify duplicate annotations within a given dataset.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `find_duplicate_annotations_job_id` | **string** | **Stores the job ID** |",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "find_duplicate_annotations_job_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"a7990e4e72b4b68225dea4d21a520011\"\n    },\n    \"find_duplicate_annotations_job\": {\n        \"id\": \"f30849f4eb7b4c21b934ba21f5119ba7\",\n        \"pca_projection_comparator\": {\n            \"distance_threshold\": 0.000001\n        },\n        \"status\": {\n            \"code\": 64003,\n            \"description\": \"Unable to choose cluster model because cluster model version ID was not specified and there are 0 cluster models in the base workflow\"\n        }\n    }\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotations/find_duplicates/jobs/{find_duplicate_annotations_job_id}' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v2/users/{user_id}/apps/{app_id}/annotation_filters": {
      "post": {
        "tags": [
          "Annotations > Annotation Filters"
        ],
        "summary": "Post Annotation Filters",
        "description": "This endpoint allows users to add annotation filters to the app.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `annotation_filters` | **list** | **Stores the filter ID** |",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "annotation_filters": [
                    {
                      "id": "ann-filter-{{$timestamp}}"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"0c227d67f1ecc011b6aaea50b6d35d41\"\n    },\n    \"annotation_filters\": [\n        {\n            \"id\": \"ann-filter-1701181768\",\n            \"created_at\": \"2023-11-28T14:29:28.313369455Z\",\n            \"modified_at\": \"2023-11-28T14:29:28.313369455Z\",\n            \"user_id\": \"a0btrubbaefn\",\n            \"app_id\": \"test-app-1700638575-empty\"\n        }\n    ]\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotation_filters' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"annotation_filters\": [\n    {\n      \"id\": \"ann-filter-{{$timestamp}}\"\n    }\n  ]\n}'"
          }
        ]
      },
      "get": {
        "tags": [
          "Annotations > Annotation Filters"
        ],
        "summary": "List Annotation Filters",
        "description": "This endpoint allows you to retrieve a list of annotation filters.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `page` | **int** | **Page number for pagination** |\n| `per_page` | **int** | **Number of results per page** |",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "100"
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"37ca5f25be8eb845218c0e00759cb081\"\n    },\n    \"annotation_filters\": [\n        {\n            \"id\": \"ann-filter-1701181768\",\n            \"created_at\": \"2023-11-28T14:29:28.313369Z\",\n            \"modified_at\": \"2023-11-28T14:29:28.313369Z\",\n            \"user_id\": \"a0btrubbaefn\",\n            \"app_id\": \"test-app-1700638575-empty\"\n        },\n        {\n            \"id\": \"dataset-1700752059-filter\",\n            \"created_at\": \"2023-11-23T15:07:38.946267Z\",\n            \"modified_at\": \"2023-11-23T15:07:38.946267Z\",\n            \"user_id\": \"a0btrubbaefn\",\n            \"app_id\": \"test-app-1700638575-empty\"\n        },\n        {\n            \"id\": \"image-data-filter\",\n            \"created_at\": \"2023-11-23T07:14:17.188926Z\",\n            \"modified_at\": \"2023-11-23T07:14:17.188926Z\",\n            \"user_id\": \"a0btrubbaefn\",\n            \"app_id\": \"test-app-1700638575-empty\"\n        }\n    ]\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotation_filters?page=1&per_page=100' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      },
      "delete": {
        "tags": [
          "Annotations > Annotation Filters"
        ],
        "summary": "Delete Annotation Filters",
        "description": "This endpoint allows you to remove specific annotation filters with ID.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `annotation_filters_ids` | **string** | **Stores the filter ID** |",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"details\": \"Annotation filter 'ann-filter-1701181768' deleted\",\n        \"req_id\": \"c2d1e5ad2b0a39c68c1fda0e891e061d\"\n    }\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff --request DELETE 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotation_filters' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v2/users/{user_id}/apps/{app_id}/annotation_filters/{annotation_filter_id}": {
      "get": {
        "tags": [
          "Annotations > Annotation Filters"
        ],
        "summary": "Get Annotation Filter",
        "description": "This endpoint allows you to retrieve a specific annotation filter with ID.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `anotation_filter_id` | **string** | **Stores the filter ID** |",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "annotation_filter_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"421fb058a7d9c41a6aa9a1b7b8c50698\"\n    },\n    \"annotation_filter\": {\n        \"id\": \"ann-filter-1701181768\",\n        \"created_at\": \"2023-11-28T14:29:28.313369Z\",\n        \"modified_at\": \"2023-11-28T14:29:28.313369Z\",\n        \"user_id\": \"a0btrubbaefn\",\n        \"app_id\": \"test-app-1700638575-empty\"\n    }\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/annotation_filters/{annotation_filter_id}' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v2/users/{user_id}/apps/{app_id}/inputs/{input_id}/annotations/{annotation_id}": {
      "get": {
        "tags": [
          "Annotations"
        ],
        "summary": "Get Annotation",
        "description": "This endpoint is used to retrieve a specific annotation with ID.\n\n## **Parameters**\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |\n| `input` | **string** | **Stores the input name** |\n| `annotation_id` | **string** | **Stores the annotation ID** |",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "input_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "annotation_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"741959d0cd1935cbf892ab0d96c3ce76\"\n    },\n    \"annotation\": {\n        \"id\": \"89e09f2006734d528010178904b8b636\",\n        \"input_id\": \"ddf15aba61684e24902fb6127aa97e34\",\n        \"data\": {\n            \"concepts\": [\n                {\n                    \"id\": \"foo1\",\n                    \"name\": \"foo1\",\n                    \"value\": 1,\n                    \"app_id\": \"test-app-1700638575-empty\"\n                }\n            ]\n        },\n        \"user_id\": \"a0btrubbaefn\",\n        \"status\": {\n            \"code\": 24150,\n            \"description\": \"Annotation success\"\n        },\n        \"created_at\": \"2023-11-28T15:17:25.903311Z\",\n        \"modified_at\": \"2023-11-28T15:17:25.903311Z\",\n        \"trusted\": true\n    }\n}"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "CURL",
            "source": "curl --location --globoff 'https://api.clarifai.com/v2/users/{user_id}/apps/{app_id}/inputs/{input_id}/annotations/{annotation_id}' \\\n--header 'Authorization: Bearer YOUR_PERSONAL_ACCESS_TOKEN' \\\n--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v2/users/{user_id}/apps/{app_id}/annotations": {
      "get": {
        "tags": [
          "Search > Basic Search Walkthrough"
        ],
        "summary": "List Annotations",
        "description": "This endpoint is used to display all available annotations in the app.\n\n## **Parameters**\n\n| **Name** | **Type** | **Description** |\n| --- | --- | --- |\n| **`user_id`** | **string** | **Stores the User ID** |\n| **`app_id`** | **string** | **Stores the Application ID** |",
        "parameters": [
          {
            "name": "list_all_annotations",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "{\n    \"status\": {\n        \"code\": 10000,\n        \"description\": \"Ok\",\n        \"req_id\": \"15d82a3737a7f9423ad5c503322a68bb\"\n    },\n    \"annotations\": [\n        {\n            \"id\": \"2fd53625dc3549888916b98ad306f2ab\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"20183edba158bfa273763aafc10e2d97\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.6\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708550Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708550Z\"\n        },\n        {\n            \"id\": \"409e5e773d3a448a895c49a47644039e\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708549Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708549Z\"\n        },\n        {\n            \"id\": \"d6978a570001461c99805eb2b006571e\",\n            \"input_id\": \"6\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708548Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708548Z\"\n        },\n        {\n            \"id\": \"728d4a9d469d40e788c1eb3d5dd6ef69\",\n            \"input_id\": \"1\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708547Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708547Z\"\n        },\n        {\n            \"id\": \"0f5b3c56b9d1445f8229ccdce17e83f3\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708546Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708546Z\"\n        },\n        {\n            \"id\": \"3a57f387c09745279777780b3fdaa925\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"86e7d81525e21b12fcf709ba76f44df3\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0.1,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708545Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708545Z\"\n        },\n        {\n            \"id\": \"cc0df53888e5497bb915ea4ae323829b\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"4eae01d6e5c036bcc3a66f97ae594ea7\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.4,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708544Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708544Z\"\n        },\n        {\n            \"id\": \"b70410ef1d01488699de9a87d3c1e42f\",\n            \"input_id\": \"5\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708543Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708543Z\"\n        },\n        {\n            \"id\": \"955341f2bb9142f4a221cec35210d90c\",\n            \"input_id\": \"3\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708542Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708542Z\"\n        },\n        {\n            \"id\": \"99a7a661a53a437080d7ba27e4597ea4\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"cc2074cff6dc4c02b6f4e1b8606dcb54\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.708541Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.708541Z\"\n        },\n        {\n            \"id\": \"af0d165e85e24ac8a80f5580a8c9c7d9\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"20183edba158bfa273763aafc10e2d97\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.6\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484421Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484421Z\"\n        },\n        {\n            \"id\": \"80c663b9e6d74a98b345a3a4a07cae69\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484420Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484420Z\"\n        },\n        {\n            \"id\": \"fddd3d2729d24aa8b25d91f5ba5e120d\",\n            \"input_id\": \"6\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484419Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484419Z\"\n        },\n        {\n            \"id\": \"ff3adb416cab4e608e1b83530103eff7\",\n            \"input_id\": \"1\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484418Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484418Z\"\n        },\n        {\n            \"id\": \"5280eb9844224ab38a1d6b75f8a28632\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484417Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484417Z\"\n        },\n        {\n            \"id\": \"4e16164d58474ca6ad2af99f88702a79\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"86e7d81525e21b12fcf709ba76f44df3\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0.1,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484416Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484416Z\"\n        },\n        {\n            \"id\": \"793fda5d355d47f2bb6e93b8582e45ab\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"4eae01d6e5c036bcc3a66f97ae594ea7\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.4,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484415Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484415Z\"\n        },\n        {\n            \"id\": \"61ecaae984e24ea49ed5e1d70e0e714d\",\n            \"input_id\": \"5\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484414Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484414Z\"\n        },\n        {\n            \"id\": \"6d1d088e54f54da7908d7743945ecee6\",\n            \"input_id\": \"3\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484413Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484413Z\"\n        },\n        {\n            \"id\": \"0a60b856cf6e43bbba6430d247f2e593\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"aa7f35c01e0642fda5cf400f543e7c40\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.484412Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.484412Z\"\n        },\n        {\n            \"id\": \"a0df351d28514d18a30364fd64a7dfc6\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"20183edba158bfa273763aafc10e2d97\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.6\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380259Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380259Z\"\n        },\n        {\n            \"id\": \"e2ccd9ba6cfa4bf083e29c233f62ad56\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380258Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380258Z\"\n        },\n        {\n            \"id\": \"a565e1d7d82f4b28b249fe24d4f2f5bb\",\n            \"input_id\": \"6\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380257Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380257Z\"\n        },\n        {\n            \"id\": \"8989af69d5c8477c93c9b47a5d603532\",\n            \"input_id\": \"1\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380256Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380256Z\"\n        },\n        {\n            \"id\": \"4fd9ad250be04ec39e5650085d19fdd1\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380255Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380255Z\"\n        },\n        {\n            \"id\": \"c7bf0021a31c46f8826e5ad58d59cf01\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"86e7d81525e21b12fcf709ba76f44df3\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0.1,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380254Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380254Z\"\n        },\n        {\n            \"id\": \"4d25a0a16ac44bcc8f36cff2aef968f4\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"4eae01d6e5c036bcc3a66f97ae594ea7\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.4,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380253Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380253Z\"\n        },\n        {\n            \"id\": \"769b649117ce4ef0a559902779f18a83\",\n            \"input_id\": \"5\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380252Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380252Z\"\n        },\n        {\n            \"id\": \"faffbe2c24434521aed4563392b8dce6\",\n            \"input_id\": \"3\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380251Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380251Z\"\n        },\n        {\n            \"id\": \"50bf035fd76c4b5eae934cf4498232a7\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {}\n                    }\n                ]\n            },\n            \"model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:13.380250Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.380250Z\"\n        },\n        {\n            \"id\": \"29cb6ebe2072490dac92d69bea9767dc\",\n            \"input_id\": \"1\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"5c8cd9d38cae44fa97d3d6eae5a58dac\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"4eae01d6e5c036bcc3a66f97ae594ea7\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.4,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"ground_truth\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"61c66cbba6e348689bee00c170a18c87\",\n            \"input_id\": \"2\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"679b11005e204ba6adb721d8632df153\",\n            \"input_id\": \"1\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"ground_truth\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"7c94dfc5a91d498db2b084d19e6b0bcb\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept-1\",\n                                    \"name\": \"test-concept-1\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"ground_truth\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"9d18e2b02e2642739f4539b71a6bf0f1\",\n            \"input_id\": \"4\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"86e7d81525e21b12fcf709ba76f44df3\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0.1,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept-1\",\n                                    \"name\": \"test-concept-1\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"b90359079d704125b1c3da1f53ee733d\",\n            \"input_id\": \"3\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept-1\",\n                                    \"name\": \"test-concept-1\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"c2ca85db56124b959418b3858da4364a\",\n            \"input_id\": \"6\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"d7ce3eac2a944a918b9b3e76d2fabd97\",\n            \"input_id\": \"3\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"ground_truth\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"e0c81a88c5ee4fd7afa8f0f56a000786\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"20183edba158bfa273763aafc10e2d97\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.6\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"eb96f561d50044f0a8bb13220b966332\",\n            \"input_id\": \"6\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"ground_truth\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"eeceae3d06704582a7f3ecb5e83af997\",\n            \"input_id\": \"5\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n                                {\n                                    \"id\": \"test-concept\",\n                                    \"name\": \"test-concept\",\n                                    \"value\": 1,\n                                    \"app_id\": \"test-app-1701866015\"\n                                }\n                            ]\n                        }\n                    }\n                ]\n            },\n            \"annotation_info\": {\n                \"set\": \"set_to_eval\"\n            },\n            \"user_id\": \"a0btrubbaefn\",\n            \"embed_model_version_id\": \"bb186755eda04f9cbb6fe32e816be104\",\n            \"status\": {\n                \"code\": 24150,\n                \"description\": \"Annotation success\"\n            },\n            \"created_at\": \"2023-12-06T12:37:11.124811Z\",\n            \"modified_at\": \"2023-12-06T12:37:13.804347Z\",\n            \"trusted\": true\n        },\n        {\n            \"id\": \"fb1377dd16fc4ee2ba1078d9ed0ab4a2\",\n            \"input_id\": \"7\",\n            \"data\": {\n                \"regions\": [\n                    {\n                        \"id\": \"361d6a9253be9152968012660258a4bf\",\n                        \"region_info\": {\n                            \"bounding_box\": {\n                                \"top_row\": 0,\n                                \"left_col\": 0,\n                                \"bottom_row\": 0.5,\n                                \"right_col\": 0.5\n                            }\n                        },\n                        \"data\": {\n                            \"concepts\": [\n             
[...]
